my-email-app@1.0.0 /Users/stek/Desktop/my-email-app
├── accepts@1.3.8 extraneous
├── array-flatten@1.1.1 extraneous
├── asn1.js@5.4.1 extraneous
├── axios@1.7.3
├── bn.js@4.12.0 extraneous
├── body-parser@1.20.2 extraneous
├── bytes@3.1.2 extraneous
├── call-bind@1.0.7 extraneous
├── content-disposition@0.5.4 extraneous
├── content-type@1.0.5 extraneous
├── cookie-signature@1.0.6 extraneous
├── cookie@0.6.0 extraneous
├── cors@2.8.5 extraneous
├── debug@2.6.9 extraneous
├── depd@2.0.0 extraneous
├── destroy@1.2.0 extraneous
├── ee-first@1.1.1 extraneous
├── electron@25.9.8
├── encodeurl@1.0.2 extraneous
├── escape-html@1.0.3 extraneous
├── etag@1.8.1 extraneous
├── express@4.19.2 extraneous
├── finalhandler@1.2.0 extraneous
├── forwarded@0.2.0 extraneous
├── fresh@0.5.2 extraneous
├── http-errors@2.0.0 extraneous
├── iconv-lite@0.4.24 extraneous
├── inherits@2.0.4 extraneous
├── ipaddr.js@1.9.1 extraneous
├── media-typer@0.3.0 extraneous
├── merge-descriptors@1.0.1 extraneous
├── methods@1.1.2 extraneous
├── mime@1.6.0 extraneous
├── minimalistic-assert@1.0.1 extraneous
├── ms@2.0.0 extraneous
├── negotiator@0.6.3 extraneous
├── object-assign@4.1.1 extraneous
├── object-inspect@1.13.2 extraneous
├── on-finished@2.4.1 extraneous
├── openpgp@5.11.2 extraneous
├── parseurl@1.3.3 extraneous
├── path-to-regexp@0.1.7 extraneous
├── proxy-addr@2.0.7 extraneous
├── qs@6.11.0 extraneous
├── range-parser@1.2.1 extraneous
├── raw-body@2.5.2 extraneous
├── safe-buffer@5.2.1 extraneous
├── safer-buffer@2.1.2 extraneous
├── send@0.18.0 extraneous
├── serve-static@1.15.0 extraneous
├── set-function-length@1.2.2 extraneous
├── setprototypeof@1.2.0 extraneous
├── side-channel@1.0.6 extraneous
├── statuses@2.0.1 extraneous
├── toidentifier@1.0.1 extraneous
├── type-is@1.6.18 extraneous
├── unpipe@1.0.0 extraneous
├── utils-merge@1.0.1 extraneous
└── vary@1.1.2 extraneous

